<?xml version="1.0" encoding="UTF-8"?>
<app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.labzen.cn/"
     xsi:schemaLocation="http://www.labzen.cn/ http://www.labzen.cn/fx-app-1.0.xsd">
  <meta id="demo_app" title="应用demo" close-to-tray-icon="true">
    <bootstrap application-class="cn.labzen.javafx.App" view="AppView">
      <preload view="CoverView"/>
    </bootstrap>
    <tray handler-class="cn.labzen.javafx.TrayController"/>
    <shortcuts handler-class="cn.labzen.javafx.GlobalShortcutsController"/>
  </meta>

  <debug>
    <css/>
  </debug>
</app>
